<form [formGroup]="shippingForm">

	<div fxLayout="column wrap" fxLayoutAlign="start left" fxLayoutGap="10px">
		<div class="input-row" fxLayout="row" fxLayoutAlign="space-between">
			<div>
				<button mat-raised-button (click)="addPackage()" [disabled]="packageQuantity >= 5" class="btn float-right">+ Package</button>
			</div>
		</div>

		<div formArrayName="packages">
			<div *ngFor="let package of allPackages.controls; let i = index" [formGroupName]="i" class="input-row packages-row" fxLayout="row" fxLayoutAlign="stretch" fxLayout.lt-md="column" fxLayoutGap="20px" fxLayoutGap.lt-md="0px">

				<mat-form-field fxFlex [ngClass]="{'border-class': package.errors}" hintLabel="Max 32 characters">
					<input matInput #input placeholder="name" formControlName="name">
					<mat-hint align="end">{{input.value?.length || 0}}/32</mat-hint>
				</mat-form-field>

				<mat-form-field fxFlex hintLabel="Max 10kg per package">
					<input matInput placeholder="weight" formControlName="weight" appThreeDigitDecimaNumber>
					<span matSuffix>kg</span>
				</mat-form-field>

				<mat-form-field fxFlex>
					<input matInput currencyMask placeholder="value" formControlName="value" format="currency">
				</mat-form-field>

				<mat-form-field fxFlex>
					<mat-label>currency</mat-label>
					<select matNativeControl formControlName="currency">
						<option value="EUR">EUR</option>
						<option value="USD">USD</option>
						<option value="GBP">GBP</option>
					</select>
				</mat-form-field>

				<div>
					<button mat-raised-button color="warn" (click)="deletePackage(i)" [disabled]="packageQuantity == 1">Delete</button>
				</div>
			</div>
		</div>

		<div class="input-row component-totals" fxLayout="row" fxLayoutAlign="flex-end" fxLayout.lt-md="column" fxLayoutGap="20px" fxLayoutGap.lt-md="0px">
			<mat-form-field>
				<input matInput placeholder="Packages #:" formControlName="totalPackages">
				<span matSuffix>qty</span>
			</mat-form-field>
			<mat-form-field>
				<input matInput placeholder="Total Weight:" formControlName="totalWeight">
				<span matSuffix>kg</span>
			</mat-form-field>
			<mat-form-field>
				<div class="currency-converter" *ngIf="convertingCurrency">
					<mat-spinner diameter="18"></mat-spinner>
				</div>
				<input matInput placeholder="Total Value:" formControlName="totalValue" [hidden]="convertingCurrency" format="currency" currencyMask>
				<span matSuffix>EUR</span>
			</mat-form-field>
		</div>

		<button mat-raised-button color="primary" [disabled]="shippingForm.hasError('notValid') || !shippingForm.valid || convertingCurrency" (click)="sendShipment()" class="send-shipment">Send Shipment</button>
	</div>

</form>
