<mat-toolbar class="top-nav">
	<mat-toolbar-row>
		<a href="#" class="top-nav_logo">
			<img src="assets/images/tnt-logo.svg" alt="TNT">
		</a>
	</mat-toolbar-row>
</mat-toolbar>

<div class="main-content">
	<router-outlet></router-outlet>
</div>
