@import '~@angular/material/theming';

@include mat-core();

/* Branding */
$color-purple: #4d148c;
$color-orange: #ff6200;
$color-green: #08bf8f;
$color-red: #e5213c;
$color-gray1: #b6b6b6;
$color-gray2: ​#f2f2f2;

$md-fedexpallete: (
	50 : #ffece0,
	100 : #ffd0b3,
	200 : #ffb180,
	300 : #ff914d,
	400 : #ff7a26,
	500 : #ff6200,
	600 : #ff5a00,
	700 : #ff5000,
	800 : #ff4600,
	900 : #ff3400,
	A100 : #ffffff,
	A200 : #fff4f2,
	A400 : #ffc9bf,
	A700 : #ffb3a6,
	contrast: (
		50 : #000000,
		100 : #000000,
		200 : #000000,
		300 : #000000,
		400 : #000000,
		500 : #000000,
		600 : #000000,
		700 : #ffffff,
		800 : #ffffff,
		900 : #ffffff,
		A100 : #000000,
		A200 : #000000,
		A400 : #000000,
		A700 : #000000,
	)
);

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$candy-app-primary: mat-palette($md-fedexpallete);
$candy-app-accent:  mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$candy-app-warn:    mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$candy-app-theme: mat-light-theme($candy-app-primary, $candy-app-accent, $candy-app-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($candy-app-theme);
