/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body {
	margin: 0;
	font-family: Roboto, "Helvetica Neue", sans-serif;
	background: #FFF;
}

/* Branding */
$color-purple: #4d148c;
$color-orange: #ff6200;
$color-green: #08bf8f;
$color-red: #e5213c;
$color-gray1: #b6b6b6;
$color-gray2: ​#f2f2f2;
$override-color: white;

body p {
	color: $color-purple;
}

.top-nav {
	padding: 15px 0px;
	border-bottom: 1px solid #dfdfdf;
	background-color: #fff;
	text-align: center;

	&_logo {
		width: 97px;
		margin: 0 auto;

		img {
			height: 50px;
		}
	}
}

.main-content {
	width: 100%;
	padding: 20px;
	box-sizing: border-box;
}

.component-totals {
	.mat-form-field-suffix {
		color: $color-gray1;
	}
}

.currency-converter {
	display: flex;
	margin-top: -0.1525em;
	margin-bottom: 0.1525em;
}

.send-shipment {
	color: #FFF!important;
}

.packages-row {
	margin: 20px 0px;
}

.mat-form-field-flex {
	border-left: 2px solid #f2f2f2;
	background-color: #f2f2f2;
	padding: 5px 10px 10px 10px;
	border-bottom: 0px;

	input {
		color: $color-gray1;
	}
}

.mat-form-field.ng-valid {
	.mat-form-field-label,
	.mat-form-field-suffix {
		color: $color-green;
	}
	.mat-form-field-flex {
		border-left-color: $color-green;
	}
}

.mat-form-field.ng-invalid {
	.mat-form-field-label,
	.mat-form-field-suffix {
		color: $color-red;
	}
	.mat-form-field-flex {
		border-left-color: $color-red;
	}
}

.mat-form-field.ng-pristine {
	.mat-form-field-label,
	.mat-form-field-suffix {
		color: $color-gray1;
	}
	.mat-form-field-flex {
		border-left-color: #F2F2F2;
	}
}

.mat-form-field.mat-focused {
	.mat-form-field-label,
	.mat-form-field-suffix {
		color: $color-purple;
	}
	.mat-form-field-flex {
		border-left-color: $color-purple;
	}
}


.mat-form-field-underline {
	display: none;
}

//
//.mat-form-field-appearance-legacy .mat-form-field-underline {
//	display: none;
//}
